<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-row>
    <ion-col>
      <ion-list>
        <ion-radio-group (ionChange)="onPerfil($event)">
         
          <ion-item color="dark">
            <ion-label>profesor</ion-label>
            <ion-radio color="success" value="profesor"></ion-radio>
          </ion-item>
          <br>
          <ion-item color="dark">
            <ion-label>tecnico</ion-label>
            <ion-radio color="success" value="tecnico"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
  
  
    </ion-col>
  
  </ion-row>
  
  
  <ion-row>
   <ion-item>
    <ion-label >E-Mail</ion-label>
    <ion-input clearInput="true"[(ngModel)]="email" type="text"></ion-input>
   </ion-item>
   <ion-item>
     <ion-label >clave</ion-label>
     <ion-input clearInput="true"[(ngModel)]="clave" type="password"></ion-input>
   </ion-item>
  
  </ion-row>
  
  <ion-row>
    <ion-col>
      <ion-button (click)="ingresar()" color="secondary" expand="full">INGRESAR</ion-button>
    </ion-col>
  </ion-row>


</ion-content>

