<ion-header>
  <ion-toolbar>
    <ion-title>formulario ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-item>

    <ion-label> Curso </ion-label>
    <ion-select value="brown" okText="Confirmar" cancelText="Cancelar">
      <ion-select-option value="1ºA">1ºA</ion-select-option>
      <ion-select-option value="1ºB">1ºB</ion-select-option>
      <ion-select-option value="2ºA">2ºA</ion-select-option>
      <ion-select-option value="2ºB">2ºB</ion-select-option>
      <ion-select-option value="3ºA">3ºA</ion-select-option>
      <ion-select-option value="3ºB">3ºB</ion-select-option>
      <ion-select-option value="4ºA">4ºA</ion-select-option>
      <ion-select-option value="4ºB">4ºB</ion-select-option>
      <ion-select-option value="5ºA">5ºA</ion-select-option>
      <ion-select-option value="5ºB">5ºB</ion-select-option>
      <ion-select-option value="6ºA">6ºA</ion-select-option>
      <ion-select-option value="6ºB">6ºB</ion-select-option>
      <ion-select-option value="7ºB">7ºB</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-label> Dispositivo </ion-label>
  <ion-select value="brown" okText="Confirmar" cancelText="Cancelar">
    <ion-select-option value="Computadora">Computadora</ion-select-option>
    <ion-select-option value="Monitos">Monitor</ion-select-option>
    <ion-select-option value="Mouse">Mouse</ion-select-option>
    <ion-select-option value="Parlante">Parlante</ion-select-option>
    <ion-select-option value="Teclado">Teclado</ion-select-option>
  </ion-select>



  <ion-label> Nº de Maquina </ion-label>
  <ion-select value="brown" okText="Confirmar" cancelText="Cancelar">
    <ion-select-option value="1">1</ion-select-option>
    <ion-select-option value="2">2</ion-select-option>
    <ion-select-option value="3">3</ion-select-option>
    <ion-select-option value="4">4</ion-select-option>
    <ion-select-option value="5">5</ion-select-option>
    <ion-select-option value="6">6</ion-select-option>
    <ion-select-option value="7">7</ion-select-option>
    <ion-select-option value="8">8</ion-select-option>
    <ion-select-option value="9">9</ion-select-option>
    <ion-select-option value="10">10</ion-select-option>
    <ion-select-option value="11">11</ion-select-option>
    <ion-select-option value="12">12</ion-select-option>
    <ion-select-option value="13">13</ion-select-option>
    <ion-select-option value="14">14</ion-select-option>
    <ion-select-option value="15">15</ion-select-option>
    <ion-select-option value="16">16</ion-select-option>
    <ion-select-option value="17">17</ion-select-option>    
  </ion-select>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

<ion-button color="primary">aceptar</ion-button>

<ion-button color="warning">cancelar</ion-button>

</ion-content>
