<ion-header>
  <ion-toolbar>
    <ion-title>listatickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-accordion-group>
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>Aula: </ion-label>
      </ion-item>
      <ion-item slot="content">
        <ion-label>Fecha: </ion-label>
      </ion-item>
      <ion-item slot="content">
        <ion-label>Dispositivo: </ion-label>
        <ion-select value="brown" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="Computadora">Computadora</ion-select-option>
          <ion-select-option value="Monitor">Monitor</ion-select-option>
          <ion-select-option value="Mouse">Mouse</ion-select-option>
          <ion-select-option value="Parlante">Parlante</ion-select-option>
          <ion-select-option value="Teclado">Teclado</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item slot="content">
        <ion-label>Maquina: </ion-label>
        <ion-select value="brown" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
          <ion-select-option value="11">11</ion-select-option>
          <ion-select-option value="12">12</ion-select-option>
          <ion-select-option value="13">13</ion-select-option>
          <ion-select-option value="14">14</ion-select-option>
          <ion-select-option value="15">15</ion-select-option>
          <ion-select-option value="16">16</ion-select-option>
          <ion-select-option value="17">17</ion-select-option>    
        </ion-select>
      
      </ion-item>

      <ion-item slot="content">
        <ion-label>Descripcion: </ion-label>
        <ion-label position="floating">escribir..</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
      
    </ion-accordion>

    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>Aula 2</ion-label>
      </ion-item>
      <ion-item slot="content">
        <ion-label>Fecha: </ion-label>
      </ion-item>
      <ion-item slot="content">
        <ion-label>Dispositivo: </ion-label>
        <ion-select value="brown" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="Computadora">Computadora</ion-select-option>
          <ion-select-option value="Monitor">Monitor</ion-select-option>
          <ion-select-option value="Mouse">Mouse</ion-select-option>
          <ion-select-option value="Parlante">Parlante</ion-select-option>
          <ion-select-option value="Teclado">Teclado</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item slot="content">
        <ion-label>Maquina: </ion-label>
        <ion-select value="brown" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
          <ion-select-option value="11">11</ion-select-option>
          <ion-select-option value="12">12</ion-select-option>
          <ion-select-option value="13">13</ion-select-option>
          <ion-select-option value="14">14</ion-select-option>
          <ion-select-option value="15">15</ion-select-option>
          <ion-select-option value="16">16</ion-select-option>
          <ion-select-option value="17">17</ion-select-option>    
        </ion-select>
      
      </ion-item>

      <ion-item slot="content">
        <ion-label>Descripcion: </ion-label>
        <ion-label position="floating">escribir..</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
      
    </ion-accordion>
  
  </ion-accordion-group>
  </ion-list>

  <ion-button color="primary">Pablo</ion-button>

<ion-button color="warning">Navas</ion-button>
</ion-content>
